<div *ngIf="users$ | async as users">
    <p-toast />
    <p-confirmDialog />

    <div class="admin-page">
        <p-card header="Users" subheader="List of all users">
            <div class="p-grid">
                <div class="p-col-12">
                    <p-toolbar>
                        <div class="p-toolbar-group-left">
                            <p-button
                                styleClass="p-button-success"
                                label="New"
                                icon="pi pi-plus"
                                routerLink="form"
                            ></p-button>
                        </div>
                    </p-toolbar>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12">
                    <p-table [value]="users" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="name">
                                    Name<p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th>Email</th>
                                <th>Is Admin</th>
                                <th>Country</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    <p-tag
                                        styleClass="px-4 py-2 ml-7"
                                        *ngIf="user.isAdmin"
                                        severity="success"
                                        icon="pi pi-check"
                                        [rounded]="true"
                                    ></p-tag>
                                    <p-tag
                                        styleClass="px-4 py-2 ml-7"
                                        *ngIf="!user.isAdmin"
                                        severity="danger"
                                        icon="pi pi-times"
                                        [rounded]="true"
                                    ></p-tag>
                                </td>
                                <td>
                                    {{ getCountryName(user.country) }}
                                </td>
                                <td>
                                    <p-button
                                        styleClass="p-button-danger mx-1"
                                        icon="pi pi-trash"
                                        (click)="
                                            showDeleteConfirmation(user.id)
                                        "
                                    ></p-button>
                                    <p-button
                                        styleClass="p-button-success"
                                        icon="pi pi-pencil"
                                        [routerLink]="['form', user.id]"
                                    ></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>
