.products-page {
    .title {
        font-size: 2.4em;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .field-checkbox {
        font-size: 1.7em;
        color: $primary-color-dark;

        .p-checkbox-box {
        }
    }
}
